:root {
  // COLORs
  --color-primary: #006DF0;
  --color-dark: #181B23;

  // FONTS
  --eina-light: "Eina Light";
  --eina: "Eina";
  --eina-semibold: "Eina SemiBold";
  --eina-bold: "Eina Bold";

  --padding-sm: 32px;
}

body {
  scroll-behavior: smooth;
  line-height: 1.35;
  font-family: var(--eina);

  b {
    font-weight: 500;
    font-family: var(--eina-semibold);
  }
}


img {
  max-width: 100%;
}

.w-100 {
  width: 100%;
}

.container-narrow {
  margin: auto;
  max-width: 880px;
}


@import "./fonts";
@import "./sections/animation";
@import "./sections/hero";
@import "./sections/brand";
@import "./sections/logo";
@import "./sections/video";
