:root {
  --color-primary: #006DF0;
  --color-dark: #181B23;
  --eina-light: "Eina Light";
  --eina: "Eina";
  --eina-semibold: "Eina SemiBold";
  --eina-bold: "Eina Bold";
  --padding-sm: 32px;
}

body {
  scroll-behavior: smooth;
  line-height: 1.35;
  font-family: var(--eina);
}
body b {
  font-weight: 500;
  font-family: var(--eina-semibold);
}

img {
  max-width: 100%;
}

.w-100 {
  width: 100%;
}

.container-narrow {
  margin: auto;
  max-width: 880px;
}

@font-face {
  font-family: "Eina Light";
  src: url("./../font/Eina01-Light.ttf");
}
@font-face {
  font-family: "Eina";
  src: url("./../font/Eina01-Regular.ttf");
}
@font-face {
  font-family: "Eina SemiBold";
  src: url("./../font/Eina01-SemiBold.ttf");
}
@font-face {
  font-family: "Eina Bold";
  src: url("./../font/Eina01-Bold.ttf");
}
[data-scroll=out] {
  opacity: 0;
}

[data-scroll] {
  opacity: 0;
  will-change: transform, scale, opacity;
  -webkit-transform: translateY(6rem) scale(0.93);
          transform: translateY(6rem) scale(0.93);
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

[data-scroll=in] {
  opacity: 1;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn 1.5s ease-in forwards;
          animation: fadeIn 1.5s ease-in forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.zoom-in-up {
  position: relative;
  -webkit-animation: zoomInUp 1s ease-in-out alternate;
          animation: zoomInUp 1s ease-in-out alternate;
}

@-webkit-keyframes zoomInUp {
  0% {
    -webkit-transform: translateY(20px) scale(0.9);
            transform: translateY(20px) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes zoomInUp {
  0% {
    -webkit-transform: translateY(20px) scale(0.9);
            transform: translateY(20px) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
  }
}
.zoom-in-down {
  position: relative;
  -webkit-animation: zoomInDown 1s ease-in-out alternate;
          animation: zoomInDown 1s ease-in-out alternate;
}

@-webkit-keyframes zoomInDown {
  0% {
    -webkit-transform: translateY(-20px) scale(0.9);
            transform: translateY(-20px) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes zoomInDown {
  0% {
    -webkit-transform: translateY(-20px) scale(0.9);
            transform: translateY(-20px) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
  }
}
.hero {
  background-color: var(--color-primary);
  color: #fff;
  padding: 175px 0 230px 0;
}
.hero .logo-wrapper {
  padding: 0 48px 48px 48px;
}
@media (min-width: 768px) {
  .hero .logo-wrapper {
    padding: 0 48px 48px 48px;
  }
}
@media (min-width: 992px) {
  .hero .logo-wrapper {
    padding: 0 48px 48px 48px;
  }
}
.hero .logo-wrapper .hero-logo {
  height: 47px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 768px) {
  .hero .logo-wrapper .hero-logo {
    top: 56px;
    left: 56px;
  }
}
@media (min-width: 992px) {
  .hero .logo-wrapper .hero-logo {
    top: 60px;
    left: 75px;
  }
}
.hero-inner {
  margin: 0px 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media (min-width: 576px) {
  .hero-inner {
    margin: 0px 46px;
  }
}
@media (min-width: 768px) {
  .hero-inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 0px 56px;
  }
}
@media (min-width: 992px) {
  .hero-inner {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    margin: 0px 70px;
  }
}
.hero-title {
  color: white;
  font-weight: 500;
  font-family: var(--eina-semibold);
  line-height: 1.2;
  font-size: 32px;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .hero-title {
    font-size: 32px;
    margin-bottom: 28px;
  }
}
@media (min-width: 992px) {
  .hero-title {
    font-size: 40px;
    margin-bottom: 36px;
  }
}
.hero-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .hero-info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 992px) {
  .hero-info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.hero-info p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .hero-info p {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .hero-info p {
    font-size: 20px;
    margin-bottom: 24px;
  }
}
.hero-info p:not(:last-child)::after {
  content: "";
  background-color: #1a1a1f;
  border-radius: 100%;
  width: 6px;
  height: 6px;
  display: inline-block;
  margin: 0 12px;
}
@media (min-width: 768px) {
  .hero-info p:not(:last-child)::after {
    margin: 0 15px;
  }
}
@media (min-width: 992px) {
  .hero-info p:not(:last-child)::after {
    margin: 0 20px;
  }
}
.hero-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .hero-tags {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 992px) {
  .hero-tags {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.hero-tags p {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 400;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .hero-tags p {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .hero-tags p {
    font-size: 20px;
  }
}
.hero-tags p:not(:last-child)::after {
  content: "";
  height: 20px;
  width: 1px;
  background-color: #fff;
  display: inline-block;
  margin: 0 12px;
}
@media (min-width: 768px) {
  .hero-tags p:not(:last-child)::after {
    margin: 0 15px;
  }
}
@media (min-width: 992px) {
  .hero-tags p:not(:last-child)::after {
    margin: 0 20px;
  }
}
.brand-wrapper {
  background-color: var(--color-dark);
  color: #fff;
  padding: 0 0 115px;
}
.brand-wrapper .container {
  padding: 0 var(--padding-sm);
}
.brand-wrapper .image-wrapper {
  width: 100%;
  max-width: 100%;
  padding: 0 0px;
}
.brand-wrapper .image-wrapper.image-1 img {
  margin-top: -160px;
}
@media (min-width: 768px) {
  .brand-wrapper .image-wrapper {
    padding: 0 0px;
  }
  .brand-wrapper .image-wrapper.image-1 img {
    margin-top: -160px;
  }
}
@media (min-width: 992px) {
  .brand-wrapper .image-wrapper {
    padding: 0 60px;
  }
  .brand-wrapper .image-wrapper.image-1 img {
    margin-top: -180px;
  }
}
.brand-wrapper .brand-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  position: relative;
  margin: 80px 0;
}
@media (min-width: 768px) {
  .brand-wrapper .brand-inner {
    margin: 80px 0;
  }
}
@media (min-width: 992px) {
  .brand-wrapper .brand-inner {
    margin: 80px 0;
  }
}
.brand-wrapper .brand-inner > .brand-number {
  font-family: var(--eina-bold);
  font-size: 32px;
  display: none;
}
@media (min-width: 768px) {
  .brand-wrapper .brand-inner > .brand-number {
    font-size: 32px;
    display: none;
  }
}
@media (min-width: 992px) {
  .brand-wrapper .brand-inner > .brand-number {
    font-size: 50px;
    display: inline-block;
  }
}
.brand-wrapper .brand-inner .brand-inner-detail .brand-trigger .brand-title {
  font-family: var(--eina-bold);
  font-size: 32px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .brand-wrapper .brand-inner .brand-inner-detail .brand-trigger .brand-title {
    font-size: 32px;
  }
}
@media (min-width: 992px) {
  .brand-wrapper .brand-inner .brand-inner-detail .brand-trigger .brand-title {
    font-size: 50px;
  }
}
.brand-wrapper .brand-inner .brand-inner-detail .brand-trigger .brand-title > .brand-number {
  display: inline-block;
}
@media (min-width: 768px) {
  .brand-wrapper .brand-inner .brand-inner-detail .brand-trigger .brand-title > .brand-number {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  .brand-wrapper .brand-inner .brand-inner-detail .brand-trigger .brand-title > .brand-number {
    display: none;
  }
}
.brand-wrapper .brand-inner .brand-inner-detail .brand-trigger .design-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.brand-wrapper .brand-inner .brand-inner-detail .brand-trigger .design-brand p {
  color: #fff;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .brand-wrapper .brand-inner .brand-inner-detail .brand-trigger .design-brand p {
    font-size: 10px;
  }
}
@media (min-width: 992px) {
  .brand-wrapper .brand-inner .brand-inner-detail .brand-trigger .design-brand p {
    font-size: 16px;
  }
}
.brand-wrapper .brand-inner .brand-inner-detail .brand-trigger .design-brand p:not(:last-child)::after {
  content: "";
  height: 10px;
  width: 1px;
  background-color: #fff;
  display: inline-block;
  margin: 0 16px;
}
@media (min-width: 768px) {
  .brand-wrapper .brand-inner .brand-inner-detail .brand-trigger .design-brand p:not(:last-child)::after {
    height: 10px;
    margin: 0 16px;
  }
}
@media (min-width: 992px) {
  .brand-wrapper .brand-inner .brand-inner-detail .brand-trigger .design-brand p:not(:last-child)::after {
    height: 20px;
    margin: 0 20px;
  }
}
.brand-wrapper .brand-inner .brand-inner-detail .brand-details {
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 34px;
}
@media (min-width: 768px) {
  .brand-wrapper .brand-inner .brand-inner-detail .brand-details {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin-top: 34px;
  }
}
@media (min-width: 992px) {
  .brand-wrapper .brand-inner .brand-inner-detail .brand-details {
    -ms-grid-columns: 3fr 8fr;
    grid-template-columns: 3fr 8fr;
    margin-top: 50px;
  }
}
.brand-wrapper .brand-inner .brand-inner-detail .brand-details .details-title {
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}
@media (min-width: 768px) {
  .brand-wrapper .brand-inner .brand-inner-detail .brand-details .details-title {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .brand-wrapper .brand-inner .brand-inner-detail .brand-details .details-title {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .brand-wrapper .brand-inner .brand-inner-detail .brand-details .details-title {
    font-size: 26px;
  }
}
.brand-wrapper .brand-inner .brand-inner-detail .brand-details .details-content .details-heading {
  font-weight: 500;
  line-height: 1.2;
  font-family: var(--eina-semibold);
  margin-bottom: 24px;
  font-size: 24px;
}
@media (min-width: 768px) {
  .brand-wrapper .brand-inner .brand-inner-detail .brand-details .details-content .details-heading {
    margin-bottom: 24px;
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .brand-wrapper .brand-inner .brand-inner-detail .brand-details .details-content .details-heading {
    margin-bottom: 46px;
    font-size: 30px;
  }
}
.brand-wrapper .brand-inner .brand-inner-detail .brand-details .details-content .details-description {
  color: rgb(255, 236, 232);
  font-weight: 400;
  line-height: 1.5;
  font-family: var(--eina);
  margin-bottom: 0px;
  font-size: 16px;
}
@media (min-width: 768px) {
  .brand-wrapper .brand-inner .brand-inner-detail .brand-details .details-content .details-description {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .brand-wrapper .brand-inner .brand-inner-detail .brand-details .details-content .details-description {
    font-size: 20px;
  }
}
section.logo {
  background-color: #FFFFFF;
}

section.video {
  background-color: var(--color-dark);
}
section.video #marketing .glide__arrow,
section.video #mockups .glide__arrow {
  padding: 5px;
  border-radius: 70%;
  background-color: rgba(24, 27, 35, 0.65);
  border: 1px solid var(--color-primary);
  -webkit-transition: background-color 0.35s ease-in;
  transition: background-color 0.35s ease-in;
  height: 32px;
  width: 32px;
  display: none;
}
@media (min-width: 768px) {
  section.video #marketing .glide__arrow,
  section.video #mockups .glide__arrow {
    height: 42px;
    width: 42px;
    display: none;
  }
}
@media (min-width: 992px) {
  section.video #marketing .glide__arrow,
  section.video #mockups .glide__arrow {
    height: 62px;
    width: 62px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
section.video #marketing .glide__arrow img,
section.video #mockups .glide__arrow img {
  height: 85%;
  width: 85%;
}
section.video #marketing .glide__arrow--right img,
section.video #mockups .glide__arrow--right img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
section.video #marketing .glide__arrow:hover,
section.video #mockups .glide__arrow:hover {
  background-color: var(--color-dark);
}
section.video .slider-text {
  color: #fff;
  padding-left: 0px;
  padding-right: 0px;
}
@media (min-width: 768px) {
  section.video .slider-text {
    padding-left: 75px;
    padding-right: 75px;
  }
}
@media (min-width: 992px) {
  section.video .slider-text {
    padding-left: 175px;
    padding-right: 120px;
  }
}
section.video .slider-text-title {
  font-weight: 500;
  line-height: 1.2;
  font-family: var(--eina-semibold);
  margin-bottom: 20px;
  font-size: 24px;
}
@media (min-width: 768px) {
  section.video .slider-text-title {
    margin-bottom: 20px;
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  section.video .slider-text-title {
    margin-bottom: 26px;
    font-size: 30px;
  }
}
section.video .slider-text-description {
  font-family: var(--eina-light);
  font-size: 15px;
  margin-bottom: 10px;
}
section.video #marketing .glide__arrow--left {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}
@media (min-width: 768px) {
  section.video #marketing .glide__arrow--left {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@media (min-width: 992px) {
  section.video #marketing .glide__arrow--left {
    -webkit-transform: translateX(-75px);
            transform: translateX(-75px);
  }
}
section.video .polygon-shape {
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  width: 4rem;
  height: 4rem;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  background: linear-gradient(132.01deg, rgb(252, 202, 53) 4.18%, rgb(255, 153, 1) 91.58%);
  bottom: -0.75rem;
  left: -20px;
}

.video-inner {
  padding: 96px var(--padding-sm);
}
@media (min-width: 768px) {
  .video-inner {
    padding: 96px 0;
  }
}
@media (min-width: 992px) {
  .video-inner {
    padding: 120px 0;
  }
}
.video-inner .text-block {
  color: #fff;
}
.video-inner .text-block-title {
  font-family: var(--eina-bold);
  font-size: 32px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .video-inner .text-block-title {
    font-size: 32px;
  }
}
@media (min-width: 992px) {
  .video-inner .text-block-title {
    font-size: 50px;
  }
}
.video-inner .text-block-heading {
  font-weight: 500;
  line-height: 1.2;
  font-family: var(--eina-semibold);
  margin-bottom: 24px;
  font-size: 24px;
}
@media (min-width: 768px) {
  .video-inner .text-block-heading {
    margin-bottom: 24px;
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .video-inner .text-block-heading {
    margin-bottom: 46px;
    font-size: 30px;
  }
}
.video-inner .text-block-description {
  color: rgb(255, 236, 232);
  font-weight: 400;
  line-height: 1.5;
  font-family: var(--eina);
  margin-bottom: 0px;
  font-size: 16px;
}
@media (min-width: 768px) {
  .video-inner .text-block-description {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .video-inner .text-block-description {
    font-size: 20px;
  }
}